@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	background-color: #121214;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

#wrapper {
    margin: 0 auto;
    max-width: 1220px;
    padding: 1em;
}

.navbar-wrapper {
    padding: 1em;
}

.navbar {
    background-color: #202024;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 900px;
}

.navbar-content {
    max-width: 1024px;
    max-height: 60px;
    margin: 0px auto;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.site-logo {
    padding: 0px 8px;
}

.nav-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.page-container {
    background-color: #202024;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 2em;
}

.dashboard-title {
    margin: 0;
}

.timers-container {
    margin: 1em 0 1em 0;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1250px) {
    .timers-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1000px) {
    .timers-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 660px) {
    .timers-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time-entry-incrementer {
        display: inline-block !important;
    }
}

.timer-card {
    display: block;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    background-color: #29292e;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.timer-title {
    box-sizing: border-box;
    background-color: #29292e;
    color: #e4e4e4;
    padding: 10px;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    border: none;
    outline: none;
    width: 100%;
}

.timer-card-progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 30px 0;
}

.timer-card-controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 10px;
}

.timer-card-button {
    background: #4b4b54;
    border: 1px solid #4b4b54;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-timer-button {
    align-items: center;
    background-color: #248aff;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 3px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color .3s, box-shadow .3s;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 1em;
}

.add-timer-button:hover {
    background-color: #006ae2;
}

.add-timer-button:active {
    box-shadow: none;
}

/* Time Entry */
.time-entry-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.time-entry-input {
    width: 45px;
    height: 50px;
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.timer-card-progress-container:hover .time-entry-incrementer {
    display: inline-block;
}

.time-entry-incrementer {
    display: none;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.svg-pi-wrapper {
    position: relative;
}
  
.svg-pi {
    transform: rotate(-90deg); /* Fix the orientation */
}

.svg-pi-indicator {
    transition: stroke-dashoffset 0.1s linear;
}
  
.svg-pi-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.svg-pi-label__loading {
    opacity: .5;
    font-size: 0.75em;
}
  
.svg-pi-label__progress {
    font-size: 1.5em;
    font-weight: bold;
}
  
.svg-pi-label__loading,
.svg-pi-label__progress {
    display: block;
}
  
/* Spinner animation */
@keyframes spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}